<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/assets/css/application.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css" />
    @RenderSection("head")
</head>
<body>
    <h1>
        some text from master</h1>
    @RenderBody()
</body>
</html>
