<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="IC.Resources" />
    </assemblies>
    <namespaces>
      <add namespace="WiFiSpeakerWebConfig.Objects" />
      <add namespace="WiFiSpeakerWebConfig.Modules" />
      <add namespace="WiFiSpeakerWebConfig.Views" />
    </namespaces>
  </razor>

  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor"/>
        <add namespace="WiFiSpeakerWebConfig.Objects" />
        <add namespace="WiFiSpeakerWebConfig.Modules" />
        <add namespace="WiFiSpeakerWebConfig.Views" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>