.mypanel
{
    background-color: #ced1eb;
    border-radius: 5px;
    border: 2px solid #3C5064;
}
.margin-sm
{
    margin: 5px;
}
.background-style
{
    background-image: url('../img/bg.png');
    background-repeat: repeat-y repeat-x;
}
.hint
{
    color: #3C5064;
}
.width-200
{
    width: 200px;
}

h2, p, span
{
    color: #3C5064;
}
.left-icon
{
    position: absolute;
    left: 25px;
    top: 15%;
    color:#3C5064;
}
.pad-bottom-lg
{
    padding-bottom: 40px;
}
.pad-top-bottom-sm
{
    padding-bottom: 25px;
    padding-top: 25px;
}
.background-color
{
    background: #6f76b9;
}

.outer
{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle
{
    display: table-cell;
    vertical-align: middle;
}

.inner
{
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password]
{
    padding: 10px;
    padding-left: 35px;
    margin-bottom: 5px;
    border: none ! important;
    box-shadow: none ! important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #BDC2C7;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BDC2C7;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BDC2C7;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #BDC2C7;
}

.mybtn-lg
{
    padding: 10px;
    color: #3C5064;
    background-color: #D9FB34;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: large;
}
a.mybtn-lg:hover
{
    text-decoration: none;
    cursor: hand;
    color: #3C5064;
    background-color: #E3F785;
}
