input[type=text], input[type=password] 
{
    border: 0;
    outline: none;
    box-shadow: none;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid 1px #ccc;
    padding: 5px;
}
.center-align
{
    text-align:center;
    align-content: center;
}